<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello</title>
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <div class="navbar_logo">
                <h2>Taks</h2>
            </div>
        </div>
    </nav>
    <%= yield %>
</body>
</html>